<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <experienceProfile>
      <providers>
        <contactSearchProvider type="Sitecore.Support.Cintel.ContactSearchProvider, Sitecore.Support.60887" patch:i="contactSearchProvider[@type='Sitecore.Cintel.ContactSearchProvider, Sitecore.Cintel']" singleInstance="true" />
      </providers>
    </experienceProfile>
  </sitecore>
</configuration>